.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.search input{
  height: 30px;
  padding: 10px;
}
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  border: 1px solid black;
  vertical-align: middle;
  min-width: 165px;
  text-align: center;
  span {
    svg {
      height: 20px;
      width: 20px;
      padding-left: 15px;
    }
  }
}
.dropdown-content {
  display: none;
  position: absolute;
  cursor: pointer;
  text-align: center;
  top: 50px;
  left: 0px;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-content p{
  padding: 10px;
}
.show_dropdown {
  display: block !important;
}
