/* You can add global styles to this file, and also import other style files */
body{
  background-color: hsl(0, 0%, 98%);
}
*{
  margin: 0;
  padding: 0;
}
$green: #2ecc71;
$red: #e74c3c;
$blue: #3498db;
$yellow: #f1c40f;
$purple: #8e44ad;
$turquoise: #1abc9c;
